nav {
    background-color: pink;
    margin: 0;
    text-align: center;
    padding: 20px;
}
.menuItem {
    display: inline-block;
}

.aside {
float: left;
width: 30%;
background-color: aquamarine;
height: 400px;
}

.content {
float: left;
width: 70%;
background-color: yellowgreen;
height: 400px;
}

.image {
    background-color: yellow;
    height: 200px;
    width: 100%;
}

.data {
    background-color: red;
    height: 200px;
    width: 100%;
}